.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;

    /* overflow-x: hidden; */
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    width: 100vw;
  }
  
  .track > h1 {
    margin: 10px 0;
    font-size: 4rem;
    font-family: Roboto;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171717;
    text-transform: uppercase;
  }